In [ ]:
import pandas as pd
import json
import os
path = 'C:/Users/Juyeon/Downloads/data_science/term/r/'
file_l = os.listdir(path)

with open (path + file_l[0]) as data_file:
    df = pd.read_csv(data_file)

print df

for i in file_l[1:]:
    df2 = pd.DataFrame(data=None, columns = None)
    with open (path + i) as data_file:
        df2 = pd.read_csv(data_file)
        frames = [df, df2]
        df = pd.concat(frames)
        print len(df)

df = df.drop(df.columns[0], 1)
        
print len(df)
print df.groupby(['userid']).mean()

        Unnamed: 0          userid  rating
0                0   AGZ8SM1BGK3CK     5.0
1                1  A2VHZ21245KBT7     4.0
2                2   ACX8YW2D5EGP6     4.0
3                3   A9RNMO9MUSMTJ     2.0
4                4  A3STFVPM8NHJ7B     5.0
5                5  A2582KMXLK2P06     5.0
6                6  A1TZCLCW9QGGBH     4.0
7                7  A2E2I6B878CRMA     5.0
8                8   AD5MZA8SOVMPJ     5.0
9                9  A3IE1M3QVUKIJN     5.0
10              10   AZ1MUCW76BDL1     5.0
11              11  A2XNOB1T796Y6B     5.0
12              12  A12DO7F3TT123V     2.0
13              13  A2UN6AL460C8J4     1.0
14              14   AVYBQU4XX5QR4     4.0
15              15   AVE3EF44DFS0C     5.0
16              16  A27AWN5G5GT6RP     5.0
17              17  A35KJPLBWHF5GJ     5.0
18              18   ADP0IVFAH8EJF     5.0
19              19  A2MBHFCT26IYQ6     5.0
20              20   AONBKXBKBR8BO     5.0
21              21  A2K72PJNBUP2TI     5.0
22              22  A36ANEVX17XF9S     5.0
23              23  A3T0DNK02KT55Q     5.0
24              24  A2D18BJF9Z3QUS     4.0
25              25   A7ZYU4SOLTUGB     5.0
26              26   AJKWF4W7QD4NS     3.0
27              27  A17L10630VSW76     4.0
28              28  A3EP4NETI2AB94     4.0
29              29  A2GV5HOVHKYDCC     5.0
...            ...             ...     ...
583902      583902  A3I291BE0RNZCU     3.0
583903      583903   AP421LN1DX0QD     5.0
583904      583904  A2T8IC4R2E4GJ6     2.0
583905      583905  A32EXAYSYJCFBK     5.0
583906      583906  A1CNMWSZMJ3FS8     1.0
583907      583907  A1REL11SYBDAJI     5.0
583908      583908  A2VLGXFSM0YCRD     5.0
583909      583909  A1YWY02UIQVU1K     4.0
583910      583910  A10M9C7ZMU2DU1     4.0
583911      583911   A8SQEYC4TT38X     5.0
583912      583912  A1MNITZRYU71IO     4.0
583913      583913  A1KB94MJQELPSM     1.0
583914      583914  A1L41RJZKXM1T7     5.0
583915      583915  A1QV6WSWL96DA6     5.0
583916      583916  A1HK9952KM25SL     5.0
583917      583917   AD6E1LY97KGC2     5.0
583918      583918  A2E05UBMC4JAYR     3.0
583919      583919  A1XMHK9HN5MW2H     3.0
583920      583920   A4QQQDXW70ZDX     4.0
583921      583921   AONFFMO9QY0G9     5.0
583922      583922  A3U3RFL0XE4F7V     4.0
583923      583923   AOK8AARD069GP     1.0
583924      583924  A1IWX2XBFTCMSR     5.0
583925      583925  A37IYQC8EKLDYJ     5.0
583926      583926   AJE4MXRQ5W9JU     5.0
583927      583927   A9MBSKL8LTFN9     5.0
583928      583928  A3U3RFL0XE4F7V     4.0
583929      583929   AEO407GROR6JB     1.0
583930      583930  A2YXWWVABHWIXN     5.0
583931      583931   ANZJEQZRYUCBC     4.0

[583932 rows x 3 columns]
3222103
4595870
5511315
7534384
30041538
33790541
37237789
42986708
43822713
51647194
52944349
55926674
60180599
63386065
67993111
68493286
69736471
70729960
71965275
75233969
77160015
79412785

In [63]:
df.to_csv('r.csv')

   A  B
0  1  2
1  3  4

   A  B
0  1  2
1  3  4
0  5  6
1  7  8